@model IEnumerable<CarApp.Domain.Entities.Car>

@{
    ViewBag.Title = "Cars";
}

<h2>@ViewBag.Title</h2>

<table>
    <thead>
        <tr>
            <th>
                Licence plate
            </th>
            <th>
                Telephely
            </th>
            <th>
                Műveletek
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    @car.LicencePlate
                </td>
                <td>
                    @car.TelepHelyAddress
                </td>
                <td>
                    @Html.ActionLink("részletek", "Details", new { id = car.Id })
                    @Html.ActionLink("szerkesztés", "Edit", new { id = car.Id })
                    @Html.ActionLink("törlés", "Delete", new { id = car.Id }, new { @class = "DeleteLink" })
                </td>
            </tr>
        }

    </tbody>
</table>

@Html.ActionLink("új autó", "Create")

@section scripts {


  <script src="@Url.Content("/Scripts/deletelink.js")" type="text/javascript">
        

    </script>
}

